body{
    background-color: rgb(225, 155, 166);
}
.one{
    display: flex;
    justify-content: center;
    

}
#but{
    margin-top: 300px;
    height: 50px;
    width: 100px;
    border-radius: 10px;
    font-size: larger;
    font-weight: bold;
    background-color: rgb(95, 248, 95);
    color: white;
}

