.container{
    border: 1px solid blueviolet;
    height: 800px;
    width: 1600px;
    background-color: aqua;
}
.box1{
    border: 1px solid red;
    height: 200px;
    width: 300px;
    background-color: cadetblue;
    margin: 10px;
    position: relative;
    animation-name: hii;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-delay: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    left:0px;
    top:0px
    
}
@keyframes hii{
    from{
        top:0px;
        left:0px;
    }
    to{
        top:0px;
        left:1200px
    }
}